/phroses.conf
/phroses.phar
/phroses.tar
/phroses.tar.gz
themes/frost/
themes.tmp/
/export.txt
/export.log
/schema.sql
/deps.json
/.developer
vendor/
/composer.lock
/src/composer.lock
themes/untitled/
uploads/
tests/backup.sql
node_modules/