php_value short_open_tag 1
php_value display_errors 1
php_value expose_php 0
php_value error_reporting 6143

header unset x-powered-by

RewriteEngine on
RewriteBase /
# Maintenance Mode --
RewriteCond %{DOCUMENT_ROOT}/.maintenance -f
RewriteRule ^(.*)$ .maintenance [L]
RewriteRule ^(.*)$ src/startup.php [L] 