<IfModule header>
    header unset x-powered-by
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /
    DirectorySlash off # needed for uris like /uploads to work when notrailingslashes = true

    # Maintenance Mode -- 
    RewriteCond %{DOCUMENT_ROOT}/.maintenance -f  
    RewriteRule ^(.*)$ .maintenance [L]

    # Developers Mode --
    RewriteCond %{DOCUMENT_ROOT}/.developer -f
    RewriteCond %{DOCUMENT_ROOT}/src/phroses.php -f
    RewriteRule ^(.*)$ src/phroses.php [L] 

    # Production --
    RewriteRule ^(.*)$ phroses.phar [L]
</IfModule>

<IfModule !mod_rewrite.c>
    DirectoryIndex phroses.phar?error=rewrite
    ErrorDocument 404 /phroses.phar?error=rewrite
</IfModule>