@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; display: none;}
}

@keyframes growX {
	0% { transform: scaleX(0); }
	100% { transform: scaleX(1); }
}

@keyframes bounceIn {
  0% {
    height: 0;
		width: 0;
  }
  
  80% {
    height: 80px;
		width: 80px;
  }
  
  100% {
    height: 70px;
		width: 70px;
  }
}

@keyframes growOut {
	0% {
		transform: scaleX(1);
	}
	
	20% {
		transform: scaleX(1.1);
	}
	
	100% {
		transform: scaleX(0);
	}
}

@keyframes bounceOut {
	0% {
		transform: scale(1, 1);
	}
	
	10% {
		transform: scale(1.1, 1.1);
	}
	
	100% {
		transform: scale(0, 0);
	}
}

@keyframes growFadeOut {
	0% {
		transform: scale(1.2, 1.2);
		opacity: 1;
	}
	
	100% {
		transform: scale(1.4, 1.4);
		opacity: 0;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	
	100% {
		transform: rotate(360deg);
	}
}