/* Placeholder for system styles */
* {
	box-sizing: border-box;
}

.container a:not(.btn) {
	color: #260E3F;
}

.aln-r {
	text-align: right;
}

.aln-c {
	text-align: center;
}

.clear {
	clear: both;
}
.container {
	padding: 15px;
}
.editor { 
	position: absolute;
	height: 500px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-family: monospace !important;
}

.editor * { font-family: inherit !important; }

.form_field {
	width: 100%;
	border: none;
}

.form_input, .form_select {
	height: 50px;
	padding: 10px;
	border: 1px solid #CCC;
}

.form_select {
	background: white;
}

.form_submit {
	padding: 10px;
	background: #260E3F;
	color: white;
}

.form_icfix {
	height: 50px;
	position: relative;
}

.form_icfix .form_input, .form_icfix .form_select {
	position: absolute;
	padding-left: 100px;
	z-index: 0;
}


.form_icfix div {
	position: absolute;
	z-index: 1;
	line-height: 50px;
	width: 100px;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	padding-left: 5px;
	text-align: center;
}

#saved {
	overflow: hidden;
	padding: 0;
	background: green;
	color: white;
	text-align: center;
	font-weight: bold;
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	height: 0;
	box-sizing: content-box;
	transition: height .5s, padding .5s;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}

#saved.active {
	height: 30px;
	padding: 10px;
}

#phroses-login {
	padding-top: 30vh;
	width: 100%;
	text-align: center;
}

#phroses-login input {
	display: inline-block;
	height: 50px;
	width: 50%;
	padding: 10px;
	text-align: center;
	margin: 10px;
}

#phroses-login input[type="submit"] {
	background: #260E3F;
	border: none;
	color: white;
}

.dashbar {
  background: #260E3F;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  line-height: 30px;
  font-family: sans-serif;
}
  
.dashbar, .dashbar a {
	color: white;
	text-decoration: none;
}
.dashbar div {
	display: inline-block;
	float: left;
}

.dashbar_brand {
	width: 20%;
	overflow: hidden;
	font-weight: bold;
}

.dashbar_actions {
	width: 80%;
	text-align: right;
}

.editor_tpl {
	display: none;
}

.aln-r .btn { float: right; }

.btn {
	background: #260E3F;
	height: 50px;
	padding: 10px 20px 10px 20px;
	line-height: 30px;
	display: inline-block;
	color: white;
	cursor: pointer;
	border: 1px solid #CCC;
	transition: background .5s, color .5s;
	margin: 0;
}

.btn i {
	margin-right: 10px;
}

.btn:hover {
	background: #DDD;
	color: #260E3F;
}

#phroses_creator {
    padding-top: 50px;
}

#phroses_creator button {
    height: 150px;
    width: 150px;
    background-image: url(/admin/next.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform .5s;
}

#phroses_creator button:hover {
    transform: scale(1.1,1.1);
}

.page_item {
	display: block;
	background: #DDD;
	border: 1px solid #BBB;
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
	transition: color .5s, background .5s;
}

.page_item:hover {
	background: #260E3F;
	color: #DDD !important;
}